.section {
  padding: 45px 0 60px;

  :global {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 50px 30px;

      & > * {
        flex: 1 0 380px;
      }
    }
  }

  .layout {
    & > * {
      &:first-child {
        flex-basis: 100%;
        padding-bottom: 0px;
      }
    }
  }
}

.title {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
