.newslatter {
  padding-top: 90px;
  height: 418px;
  font-family: var(--font-sans), Verdana, sans-serif;
  text-align: center;
  color: #fff;
  background: #1a54e7 center / cover no-repeat url("/newsletter.png"),;
}

.title {
  font-size: 35px;
}

.descr {
  margin-top: 15px;
  font-size: 18px;
}

.form {
  max-width: 400px;
  margin: 50px auto 0;
  position: relative;
  z-index: 0;
}

.input {
  max-width: 400px;
  padding: 13px 25px;
  padding-right: 145px;
  border-radius: 25px;
  color: #fff;
  background-color: #2c6cff;
}

.btn {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 5;
  padding: 15px 39px;
  font-weight: 700;
  font-size: 18px;
  transform: translateY(-50%);
  border-radius: 25px;
  color: #1a54e7;
  background-color: #fff;
}
